* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

h1 {
  margin: 20px 0;
}

.navbar {
  width: 100vw;
  height: 30px;
  background-color: purple;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burgerbtn {
  width: 40px;
  height: 31px;
  padding: 5px;
  display: flex;
  align-items: center;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.clicked {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.burgerline {
  width: 20px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 5px;
}

.subnavbar {
  width: 250px;
  height: 100vh;
  position: absolute;
  background-color: #ff7f50;
  top: 30px;
  left: -250px;
  padding: 60px;
  transition: left 0.3s ease;
}

.active {
  left: 0px;
}

#closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

.subnavbarlist {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 10px;
}

.mainpage2 div {
  padding: 10px;
}

.preferences {
  background-color: #f4a460;
  margin: 10px;
  border-radius: 10px;
}

.preferences form {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

#search {
  border-radius: 5px;
  border: 0px;
  padding: 0 5px;
  padding-left: 5px;
}

#bywords {
  border-radius: 5px;
  border: 0px;
  padding: 0 5px;
  padding-left: 5px;
}

#amount {
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
  border: 0;
}

.cards {
  display: flex;
  overflow-wrap: break-word;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.simpsonquote div {
  padding: 2px;
}

.quotecard {
  position: relative;
  left: 0px;
  width: 300px;
  border: 1px solid rgba(192, 187, 187, 0.554);
  border-radius: 5px;
  margin: 20px;
  box-shadow: 1rem 0 3rem rgba(128, 128, 128, 0.554);
  background-color: white;
  transition: all 0.4s ease-out;
}

.quotecard:not(:first-child) {
  margin-left: -150px;
}

.quotecard:hover {
  transform: translatey(-20px);
  transition: all 0.3s ease-out;
}

.quotecard:hover ~ .quotecard {
  left: 150px;
  z-index: -1;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
}

.simpson-visual {
  padding: 0;
  margin: 0;
}

.savebtn {
  display: flex;
  justify-content: center;
}

.savebtn button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.savebtn button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.savebtn button:hover {
  background-color: #2c974b;
}

.savebtn button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.savebtn button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.savebtn button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media screen and (max-width: 848px) {
  .preferences form {
    flex-direction: column;
    align-items: center;
  }

  label {
    margin: 5px 0;
  }
}
